# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns

# Arquivos temporários e de recuperação de editores
*.swp
*.swo
*~
.#*
.DS_Store?
.vscode/*.log
.idea/
